body {
    background-color: hsl(0, 0%, 0%);
    color: white;
}

.title {
    font-size: 40px;
    text-align: center;
    color:white;
}

.kid {
    height: auto;
    width: 300px;
    display: block;
    margin: auto;
}

.kid-credit {
   display: block;
   margin-top: 0;
   padding-left: 425px;
}



